# Activity
path to file

```
/datasets/employee_work_records.csv
```

### Tasks

1. Display the first 10 rows of the dataset to understand its schema and contents.
2. Print the schema of the DataFrame and identify the data types of each column.
3. Count how many rows contain at least one null value.
4. Replace all null values in the hours_worked column with the average hours worked (calculated from non-null rows).
5. Replace all the null values in location as Remote
6. Drop all rows that have a null value in either salary or projects_completed.
7. Add a new column named hourly_rate which is calculated as:
  `salary / (hours_worked Ã— 4)`
8. Group the data by department and calculate:
  - Average salary
  - Average hours_worked
  - Total projects completed
9. Group by location and count how many employees work in each location.
10. Find the maximum salary and minimum salary
11. Filter out employees who have completed more than 5 projects and worked less than 35 hours.
12. Create a temporary view named employees.
Using Spark SQL:
  - Select department-wise employee count and average salary.
  - Filter only departments where average salary is above 75,000.
  - Write a SQL query to get count of whose salary is above the average salary.
13. Create a column bonus_eligible where employees with projects_completed > 5 are marked "Yes", else "No".